# UR Dependencies
[submodule "dependencies/Universal_Robots_ROS2_Description"]
	path = dependencies/Universal_Robots_ROS2_Description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description.git
	branch = ros2
[submodule "dependencies/Universal_Robots_ROS2_Driver"]
	path = dependencies/Universal_Robots_ROS2_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver.git
	branch = main
# MoveIt Dependencies
[submodule "dependencies/moveit2"]
	path = dependencies/moveit2
	url = https://github.com/ros-planning/moveit2.git
[submodule "dependencies/moveit_msgs"]
	path = dependencies/moveit_msgs
	url = https://github.com/ros-planning/moveit_msgs.git
	branch = ros2
[submodule "dependencies/moveit_resources"]
	path = dependencies/moveit_resources
	url = https://github.com/ros-planning/moveit_resources.git
	branch = ros2
